$xxs: 360px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;

$gutter: 22px;

$ubuntu:  'Ubuntu', sans-serif;

$w: #FFF;
$gray: #5A5A5F;
$gray-emperor: #515151;
$red: #EF2637;
$gray-alto: #D3D3D3;