{% extends "layouts/layout.twig" %}
{% block title %}Omzet scoren met Euro 2020{% endblock %}
{% block page %}index{% endblock %}
{% block content %}

<div class="wrapper">
	<div class="container">
		<div class="intro center">
			<h2>Omzet scoren met Euro 2020</h2>
			<p>In juni barst het voetbalfeest weer los. Het ideale moment ook om zelf te scoren door slim in te spelen op de voetbalgekke supporters.</p>
			<h3>Recht op doel</h3>
			<p>Met In-Home advertising in uw mediamix bereikt u uw klanten daar waar al die spannende voetbalavondjes samen beleefd worden.
			Wij geven u alvast een assist.</p>
			<p><a href="" class="btn btn_arrow">Neem nu contact op met een expert</a></p>
		</div>
		<div class="row advantages">
			<div class="col">
				<div class="advantage advantage1">
					<h3>Direct Mail Euro 2020</h3>
					<div class="advantage_info">
						<p>Tot <strong>15% korting</strong> op postkaarten*</p>
					</div>
					<div class="advantage_content">
						<p>Stuur uw klanten een originele postkaart in Euro 2020-thema. Profiteer van onze formules:</p>
						<ul class="list">
							<li>5% vanaf 10.000 stuks</li>
							<li>10% vanaf 30.000 stuks</li>
							<li>15% vanaf 50.000 stuks</li>
						</ul>
					</div>
					<div class="advantage_img">
						<img src="assets/img/advantage1.png" alt="">
					</div>
					<div class="advantage_warn"><a href="">*Algemene voorwaarden</a></div>
				</div>
			</div>
			<div class="col">
				<div class="advantage">
					<h3>Data Euro 2020</h3>
					<div class="advantage_info">
						<p><strong>50% korting</strong> op de huur van prospectiedata*</p>
					</div>
					<div class="advantage_content">
						<p>Bereik het gewenste doelpubliek om uw Euro 2020-campagne te boosten. Vertrouw op onze SelectPost  database met data van meer dan 1 miljoen Belgische gezinnen.
						</p>
					</div>
					<div class="advantage_warn"><a href="">*Algemene voorwaarden</a></div>
				</div>
			</div>
			<div class="col">
				<div class="advantage">
					<h3>Mobile Postcard Euro 2020</h3>
					<div class="advantage_info">
						<p>Met <strong>20% kortin</strong>g op Mobile Postcards vanaf 1000 stuks*</p>
					</div>
					<div class="advantage_content">
						<p>Ontwerp een eigen branded Mobile Postcard in ware Euro 2020-stijl die klanten verder kunnen personaliseren.</p>
						<p>Wij creëren de code waarmee ze de postkaart gratis kunnen verzenden via hun smartphone.</p>
					</div>
					<div class="advantage_img">
						<img src="assets/img/advantage3.png" alt="">
					</div>
					<div class="advantage_warn"><a href="">*Algemene voorwaarden</a></div>
				</div>
			</div>
		</div>
		<div class="center">
			<h2>Gedreven om omzet te scoren?<br>Laat het ons weten</h2>
		</div>
		{% include 'inc/form.twig' %}
	</div>
</div>

{% endblock %}