*, ::after, ::before {
    box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: $w;
	transition: all .3s;
	margin: 0;
	color: $gray;
}

.wrapper {
	padding: 0 0 40px;
	@include md {
		padding: 0;
	}
}

a {
	text-decoration: underline;
	color: $red;
	&:hover {
		color: darken($red, 8%);
	}
}