.container {
	margin: 0 auto;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	@include md {
		max-width: 1508px;
		padding-right: $gutter;
		padding-left: $gutter;
	}
}

.row {
	@include md {
		display: flex;
		margin-right: 30px;
		margin-left: 30px;
	}
	&-first {
		@include md {
			align-items: flex-start;
		}
	}
}

.col {
	@include md {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
		padding-right: $gutter;
		padding-left: $gutter;
		flex: 1 1 0px
	}
}