:root {
  font-size: 62.5%;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
	font: 1.6rem/1.4 $ubuntu;
	color: $gray;
	@include md {
		font-size: 2.3rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ubuntu;
	color: $gray-emperor;
}

p {
	margin: 0 0 15px;
	font-size: 1.4rem;
	line-height: 1.5;
	@include md {
		line-height: 1.5;
		font-size: 1.6rem;
	}
}

h2 {
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 1.2;
	position: relative;
	padding: 0 0 20px;
	margin: 0 0 20px;
	@include md {
		font-size: 3.4rem;
		padding: 0 0 15px;
		margin: 0 0 45px;
	}
	&:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 1px;
		background: $red;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

h3 {
	font-size: 2rem;
	line-height: 1;
	margin: 20px 0 20px;
	@include md {
		font-size: 2.4rem;
	}
}
