.advantages {
	margin-bottom: 100px;
}

.advantage {
	font-size: 1.6rem;
	border: 1px solid $gray-alto;
	padding: 15px 0;
	position: relative;
	margin-bottom: 120px;
	@include md {
		margin-bottom: 0;
	}
	strong {
		color: $red;
	}
	h3 {
		border-bottom: 1px solid $gray-alto;
		margin: 0 0 20px;
		padding: 2px 15px 15px;
		text-align: center;
		@include md {
			padding-top: 18px;
			padding-bottom: 28fpx;
			margin: 0 0 30px;
		}
	}
	&_info {
		text-align: center;
		max-width: 60%;
		margin: 0 auto 25px;
		@include md {
			margin-bottom: 35px;
		}
		p {
			font-size: 1.8rem;
			line-height: 1.3;
			@include md {
				font-size: 2rem;
			}
		}
	}
	&_warn {
		font-size: 1.2rem;
		text-align: right;
		bottom: -50px;
		position: relative;
		@include md {
			font-size: 1.4rem;
		}
		a {
			color: $gray;
			&:hover {
				color: darken($gray, 20%);
			}
		}
	}
	&_content {
		padding: 0 30px;
		@include xl {
			max-width: 360px;
		}
	}
	&_img {
		margin-bottom: -110px;
		margin-left: 10px;
		img {
			max-width: 100%;
		}
	}
	&.advantage1 {
		margin-bottom: 160px;
		@include md {
			margin-bottom: 120px;
		}
		.advantage_warn {
			bottom: -100px;
		}
	}
}