.btn {
	text-decoration: none;
	padding: 12px 20px;
	white-space: nowrap;
	transform: translateZ(0);
	backface-visibility: hidden;
	position: relative;
	color: $w;
	font-size: 1.6rem;
	font-weight: 900;
	line-height: 1.2;
	transition: all .2s;
	z-index: 1;
	overflow: hidden;
	background: $red;
	border-radius: 8px;
	border: 1px solid transparent;
	display: block;
	text-align: center;
	width: 100%;
	cursor: pointer;
	font-family: $ubuntu;
	font-size: 1.6rem;
	@include md {
		display: inline-block;
		width: auto;
	}
	@include xxs {
		font-size: 1.3rem;
		padding: 14px 30px;
	}
	&:hover {
		background: darken($red, 8%);
		color: $w;
	}
	&_arrow {
		padding-right: 45px;
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 8px;
			height: 1px;
			background: $w;
			right: 20px;
			transition: all .1s;
		}
		&:before {
			transform: rotate(45deg);
			top: 20px;
			
		}
		&:after {
			transform: rotate(-45deg);
			top: 25px;
		}
		&:hover {
			&:after,
			&:before {
				right: 17px;
			}
		}
	}
}