.form {
	padding: 20px 15px;
	border: 1px solid $gray-alto;
	border-radius: 4px;
	max-width: 760px;
	margin: 0 auto 30px;
	@include md {
		padding: 40px 30px;
		margin-top: 70px;
	}
	h5 {
		font-size: 2rem;
		font-weight: 900;
		text-transform: uppercase;
		@include md {
			margin: 0 50px 0 30px;
		}
	}
	.label {
		font-size: 1.6rem;
		margin-bottom: 15px;
	}
	label {
		font-size: 1.6rem;
		color: $gray;
	}
	&_row {
		@include md {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px 20px 0;
		}
		&-newsletter {
			padding-top: 26px;
		}
		&.form-labelgroup {
			margin-top: 50px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	&_col {
		margin-bottom: 30px;
		@include md {
			padding: 0 15px;
			flex: 1;
			max-width: 50%;
			margin-bottom: 0;
		}
	}
	&_cta {
		margin-top: 40px;
		font-size: 12px;
		div {
			margin-top: 5px;
		}
	}
	&_info {
		font-size: 1.2rem;
		margin: 50px 0 20px;
		p {
			font-size: inherit;
		}
	}
	&_item {
		margin-top: 10px;
		label {
			display: flex;
		}
		input {
			margin-right: 8px;
			margin-top: 5px;
			align-self: flex-start;
		}
	}
	&-group {
		position: relative;
	}
	input {
		&[type=text],
		&[type=email],
		&[type=number] {
			display: block;
			width: 100%;
			height: 40px;
			padding: 20px 5px;
			font-size: 1.6rem;
			line-height: 1.5;
			color: $gray;
			border: 1px solid $gray-alto;
			border-radius: 4px;
			overflow: visible;
			margin: 0;
			font-family: inherit;
			background: transparent;
			transition: all .2s;
			-moz-appearance: textfield;
			@include md {
				font-size: 1.6rem;
				padding: 10px 10px;
			}
		}
	}

	.pristine-error.text-help {
		color: red;
		position: absolute;
		left: 0;
		bottom: -20px;
		font-size: 1.1rem;
		@include md {
			font-size: 1.2rem;
			bottom: -20px;
			left: 0;
		}
	}
}