.header {
	background: img("header.jpg") no-repeat right top;
	background-size: 228px;
	margin: 0 0 40px;
	@include md {
		background-size: auto;
	}
	.row {
		display: flex;
		align-items: center;
		height: 90px;
		@include md {
			height: 184px;
		}
	}
	img {
		width: 70px;
		@include md {
			width: auto;
		}
	}
}

