.intro {
	max-width: 760px;
	margin: 0 auto;
	padding-bottom: 20px;
	p {
		font-size: 1.6rem;
		margin-bottom: 20px;
		@include md {
			font-size: 2.4rem;
			margin-bottom: 40px;
		}
	}
	h3 {
		color: $red;
		margin-bottom: 10px;
	}
}