.list {
	margin: 0 0 30px 25px;
	@include md {
		margin-bottom: 15px;
	}
	li {
		margin: 0;
		line-height: 1.5;
		position: relative;
		padding: 0 0 0 20px;
		position: relative;
		@include md {
			padding: 0 0 0 18px;
			line-height: 1.5;
		}
		&:before {
			content: '';
			width: 8px;
			height: 8px;
			position: absolute;
			left: 0;
			background: $gray;
			border-radius: 50%;
			top: 9px;
		}
	}
}