<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        {% block head %}
            <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&amp;display=swap" rel="stylesheet"> 
            <link rel="stylesheet" href="assets/css/styles.css">
            <title>{% block title %}{% endblock %} - bpost</title>
        {% endblock %}

    </head>
    <body>
        <div class="wrapper" data-page="{% block page %}{% endblock %}">
            {% include '../inc/header.twig' %}
            <main class="main">
                {% block content %}{% endblock %}
            </main>
        </div>
        <script src="assets/js/vendor/pristine.min.js"></script>
        <script src="assets/js/scripts.js"></script>
    </body>
</html>