<form id="formcontact" class="form" novalidate method="post">
	<div class="form_row form_labelgroup">
		<div class="form_col">
			<div class="label">Aanspreking</div>
			<div class="form-group">
				<div class="form_item">
					<label for="male"><input type="radio" id="male" name="gender" value="male" data-pristine-required-message="Please enter your gender" required> <span>Meneer</span></label>
				</div>
				<div class="form_item">
					<label for="female"><input type="radio" id="female" name="gender" value="female" data-pristine-required-message="Please enter your gender" required> <span>Mevrouw</span></label>
				</div>
			</div>
		</div>
	</div>
	<div class="form_row">
		<div class="form_col">
			<div class="form-group">
				<label for="firstname"><span>Voornam*</span> <input type="text" id="firstname" name="firstname" data-pristine-required-message="Please enter your firstname" required></label>
			</div>
		</div>
		<div class="form_col">
			<div class="form-group">
				<label for="lastname"><span>Naam*</span> <input type="text" id="lastname" name="lastname" data-pristine-required-message="Please enter your lastname" required></label>
			</div>
		</div>
	</div>
	<div class="form_row">
		<div class="form_col">
			<div class="form-group">
				<label for="company"><span>Bedrijf*</span> <input type="text" id="company" name="company" data-pristine-required-message="Please enter your company" required></label>
			</div>
		</div>
		<div class="form_col">
			<div class="form-group">
				<label for="bce"><span>Ondernemingsnummer*</span> <input type="number" minlength="10" maxlength="10" id="bce" name="bce" data-pristine-required-message="Please enter your BCE number" required></label>
			</div>
		</div>
	</div>
	<div class="form_row">
		<div class="form_col">
			<div class="form-group">
				<label for="postcode"><span>Postcode*</span> <input type="number" minlength="4" maxlength="4" id="postcode" name="postcode" data-pristine-required-message="Please enter your postcode" required></label>
			</div>
		</div>
	</div>
	<div class="form_row">
		<div class="form_col">
			<div class="form-group">
				<label for="email"><span>E-mailadres*</span> <input type="email" id="email" name="email" data-pristine-required-message="Please enter your email address" required></label>
			</div>
		</div>
	</div>
	<div class="form_row">
		<div class="form_col">
			<div class="form-group">
				<label for="phone"><span>Telefoonnummer*</span> <input type="text" id="phone" name="phone" data-pristine-required-message="Please enter your phone number" required></label>
			</div>
		</div>
	</div>
	<div class="form_row form_labelgroup">
		<div class="form_col">
			<div class="label">Over welk aanbod wil u meer informatie?</div>
			<div class="form-group">
				<div class="form_item">
					<label for="choice_1"><input type="checkbox" id="choice_1" name="choice" min="1" required data-pristine-min-message="Select at least 1" data-pristine-required-message="Please choose an offer"> <span>Het Direct Mail Euro 2020-aanbod</span></label>
				</div>
				<div class="form_item">
					<label for="choice_2"><input type="checkbox" id="choice_2" name="choice" min="1" required data-pristine-min-message="Select at least 1" data-pristine-required-message="Please choose an offer"> <span>Het Datal Euro 2020-aanbod</span></label>
				</div>
				<div class="form_item">
					<label for="choice_3"><input type="checkbox" id="choice_3" name="choice" min="1" required data-pristine-min-message="Select at least 1" data-pristine-required-message="Please choose an offer"> <spam>Het Mobile Postcard Euro 2020-aanbod</spam></label>
				</div>
			</div>
		</div>
	</div>
	<div class="form_info">
		<p>De meegedeelde gegevens worden door bpost gebruikt om u te contacteren en om u te informeren   over gelijkaardige diensten en acties van bpost die u zouden kunnen   interesseren doordat u interesse toonde voor onze diensten.<br>
			Meer info over het   gebruik van die gegevens vindt u <a href="">hier</a>.
			</p>
			<p>U kan zich op elk moment via elke e-mail uitschrijven.</p>
	</div>
	<div class="form_cta center">
		<button type="submit" class="btn btn_arrow">Ja, geef mij meer info op maat</button>
		<div>
			Een specialist neemt persoonlijk contact met je op
		</div>
	</div>
</form>